/Backend/target
/Backend/.env
/Frontend/node_modules
# Node
node_modules/
npm-debug.log
yarn.lock

# Rust
target/

# Docker
postgres_data/
*.log

# Env
.env
.env.*

# OS
.DS_Store
Thumbs.db

# Build
dist/
build/

# IDE
.vscode/
.idea/
