version: "3.9"

services:
  db:
    image: postgres:15
    container_name: postgres_db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: rust_server
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  backend:
    build:
      context: ./Backend
      dockerfile: Dockerfile
    container_name: rust_backend
    depends_on:
      - db
    environment:
      DATABASE_URL: postgres://postgres:postgres@db:5432/rust_server
    expose:
      - "8080"

  frontend:
    build:
      context: ./Frontend
      dockerfile: Dockerfile
    container_name: react_frontend
    depends_on:
      - backend
    ports:
      - "3000:80"

volumes:
  postgres_data: